body {
  font-family: "Roboto", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/160/original/globe.png?1707789138);
  background-size: cover;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  font-family: "Helvetica bold";
  font-size: 56px;
}

select {
  display: block;
  background-color: #ffffff;
  border: none;
  color: #888888;
  font-size: 18px;
  padding: 20px;
  width: 100%;
  border-radius: 6px;
}

small {
  font-size: 24px;
  color: #f65282;
  vertical-align: middle;
}

.world-clock-app {
  max-width: 700px;
  margin: 50px auto;
  background: #f9f7fe;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
}

.cities {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.2) dashed;
  padding: 30px 0;

  &:last-child {
    border: none;
  }

  h2 {
    margin: 0 0 5px;
    font-size: 38px;
  }

  .icon {
    font-size: 24px;
    vertical-align: bottom;
  }

  .date {
    opacity: 0.5;
    font-style: italic;
  }

  .time {
    font-size: 40px;
    font-weight: bold;
  }
}

.homepage {
  display: inline-block;
  padding: 10px 12px;
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #3498db;
  border-radius: 10px;
  color: #fff;
  background-color: #3498db;
  text-decoration: none;
}

footer {
  color: #000;
  text-align: center;
  margin-top: -10px;
  padding: 5px;

  a {
    color: #f65282;
  }
}
